﻿<script src="~/Scripts/jquery-3.3.1.js"></script>
<script type="text/javascript">
    $(function () {
        $("#SubmitSearch").on("click", function () {
            //trigger ajax call to get the best candidate's name, show error if not successful.
            $.ajax({
                type: "GET",
                url: "/api/PositionSelection/SearchBestCandidate",
                data: { positionName: document.getElementById("positionName").value },
                datatype: "json",
                success: function (data) {
                    if (data) {
                        $("#candidateName").val(data);
                    }
                },
                error: function (request, message, error) {
                    $("#candidateName").val(request.statusText);
                }
            });
        });
    });
</script>

<div class="jumbotron">
    <form id="SearchCandidate" method="get" action="">
        <h1>Search best candidate</h1>
        <label for="positionName">Position Name:</label>
        <input type="text" class="form-control" id="positionName" name="positionName" />
        <br>
        <button type="button" class="btn btn-primary" id="SubmitSearch">Search</button>
        <br><br>
        <label for="candidateName">Best Candidate Name:</label>
        <input type="text" class="form-control" id="candidateName" name="candidateName" />
    </form>
</div>

